{% extends 'userbase.html' %}
{% load static %}
{% block title %}
owner
{% endblock %}
{% block extra %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3498db;
  color: white;
}
</style>
{% endblock %}
{% block content %}

{% block name %}{{owner.account.name}}{% endblock %}
<div class="main" style="margin: top 50px;">

Welcome owner: {{owner.account.name}} <br>
<p>your account ID is: {{owner.account.id}}</p><br>
<div class="section-title">
          <h2>your billboards</h2>
        </div>
<table id="customers" align="center">
    <tr>
        <th>Name</th>
        <th>price</th>
        <th>location</th>
        <th>length</th>
        <th>width</th>
        <th>delete</th>
    </tr>
    {% for billboard in billboards %}
    <tr>
        <td>{{billboard.name}}</td>
        <td>{{billboard.price}}</td>
        <td>{{billboard.location}}</td>
        <td>{{billboard.length}}</td>
        <td>{{billboard.width}}</td>
        <td ><form action = "{%url 'accounts:delete'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{billboard.id}}">
          <input type="submit" value="delete">
        </form>
        </td>
    </tr>
    {%endfor%}
</table><br>
<div class="section-title">
          <h2>your requests</h2>
        </div>
<table id="customers" align="center">
    <tr>
        <th>Sender</th>
        <th>Billboard</th>
        <th>type</th>
        <th>status</th>
        <th>take action</th>
    </tr>
    {%for request in requests%}
    <tr>
    <td>{{request.sender.name}}</td>
    <td>{{request.billboard.id}}</td>
    <td>{{request.type}}</td>
    <td>{{request.status}}</td>
    <td ><form action = "{%url 'accounts:acceptRentRequest'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{request.id}}">
          <input type="submit" value="accept">
        </form>
    </td>
      <td ><form action = "{%url 'accounts:declineRentRequest'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{request.id}}">
          <input type="submit" value="decline">
        </form>
    </td>
    </tr>
    {%endfor%}
</table>

Add a billboard here
<form class="form-signin" enctype="multipart/form-data" action= "{%url 'accounts:addBillboards'%}" method="post">
        {% csrf_token %}
        {{form.as_p}}
    <input type="hidden" name="owner_id" value="{{owner.account.id}}">
        <input type="submit" value="Add Billboard">
    </form>
<br><br>
    </div>

{% endblock %}
</html>



