{%extends 'base.html'%}
{%load static%}
{%block content%}
<h1></h1>
<body>
  <img >
</body>
<div id="about-text" >
<p class="text-primary text-center text-uppercase"> BillAd is a system that that gives every service related to Billboard renting in Addis Ababa.
    it does this by storing all the information about billboards posted all over the city.
    it stores information about owners and prices and locations and things like that. The
    BillAd app was developed by four graduating year IT students as a final project.
</p>
</div>

{% endblock %}
